@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


header {
    top: 0;
    z-index: 10;
    height: 15vh;
}

.logo {
    width: 55%;
}

.imagen {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 5px;
}

.tituloH1 {
    margin-top: 1.5rem;
    margin-left: 1rem;
    font-size: 4.5rem;
    font-weight: 600;
    color: #fdd306;
}

span {
    display: block;
    font-size: 4.5rem;
    color: #000000;
}

.parrafo {
    margin-left: 1.3rem;
    font-size: 1rem;
    font-weight: 100;
}

.tituloH1-contacto {
    font-size: 70px;
    font-weight: 600;
    margin-top: 1rem;
}

.parrafo-contacto {
    font-size: 2rem;
    font-weight: 200;
}

.parrafo-b {
    font-size: 1.3rem;
    font-weight: 100;
    margin-left: 1.2rem;
}

.imagen-c {
    max-width: 50%;
    margin-left: 25%;
}

.parrafo-c {
    font-size: 1rem;
    font-weight: 100;
}

.lista {
    display: grid;
    gap: 90px;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.bold {
    font-weight: bold;
}

.divider {
    width: 80%;
    height: 1px;
    background-color: black;
    margin: 5px auto;
}

.galeria {
    width: 50%;
}

aside {
    width: 100%;
    margin: 0 auto;
}

/*button[type="submit"] {
    background-color:#fdd306;
    color: black;
    border-color: #fdd306;
  }*/
  
.container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10rem;
    height: 100%;
    margin-top: 15%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.tarjeta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
}

.tarjeta a {
    text-decoration: none;
    color: #000;

}

.tarjeta a:hover {
    text-decoration: underline;
}

.tarjeta img {
    width: 100%;
    border-radius: 7px;
    transition: transform 0.5s;
    transform-origin: center bottom;
}

.tarjeta img:hover {
    transform: scale(1.1);
}

.col-12 {
    margin-bottom: 20px;
}

.imgGallery {
    width: 100%;
    object-fit: cover;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.imgGallery:hover {
    transform: scale(1.2);
}

.rows {
    display: flex;
    padding: 1px;
    margin: 1px;
    flex-wrap: wrap;
    margin-top: 10%;
}

.column {
    flex: 25%;
    padding: 2.5px;
}

.column img {
    margin-top: 5px;
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
    }
}

footer {
    background-color: #000;
    color: #fff;
    height: 60vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: 74vh;
}

.listaIconos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    margin-top: 8.5rem;
    width: 95vw;
    height: 50vh;

}

.listaIconos a {
    color: #fff;
    margin-bottom: 10px;
    font-size: 15px;
    text-decoration: none;
    font-weight: 300;
}

.listaIconos ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.listaIconos li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
}

.listaIconos i {
    margin-right: 10px;
}

.contenedorCopyright {
    position: absolute;
    height: 75vh;
}

.contenedorCopyright p {
    position: relative;
    top: 95%;
    font-size: 12px;
    font-weight: 100;
    color: rgba(245, 245, 245, 0.664);
}

@media (max-width: 1024px) {

    .logo {
        width: 50%;
    }

    .tituloH1 {
        font-size: 4rem;
    }

    span {
        font-size: 4rem;
    }

    .parrafo {
        font-size: 0.9rem;
    }

    .listaIconos {
        margin-left: 20px;
    }
    
    .listaIconos a {
        font-size: 12px;
    }

}

@media (max-width: 991px) {
    .navbar-toggler-icon {
        font-size: 0.7rem;
    }

    .container-cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;
    }

    .logo {
        width: 50%;
        position: relative;
        right: 0.5rem;
    }

    .listaIconos {
        margin-left: 20px;
    }
    
    .listaIconos a {
        font-size: 11px;
    }

}

@media (max-width: 768px) {
    .navbar-toggler-icon {
        font-size: 0.7rem;
    }

    .logo {
        width: 40%;
        position: relative;
        right: 0.5rem;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 10;
        height: 9vh;
    }

    .tituloH1 {
        font-size: 3.5rem;
    }

    span {
        font-size: 3.5rem;
    }

    .parrafo {
        font-size: 0.8rem;
    }

    .parrafo-b {
        font-size: 1.1rem;
    }

    .imagen-c {
        max-width: 100%;
        margin-left: 0;
    }

    .tituloH1-contacto {
        font-size: 3.5rem;
    }

    .parrafo-contacto {
        font-size: 1.1rem;
    }

    .container-cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;
    }

    footer {
        height: 60vh;
    }

    .listaIconos {
        margin-left: 20px;
    }
    
    .listaIconos a {
        font-size: 12px;
    }

    .contenedorCopyright {
        text-align: center;
    }

    .contenedorCopyright p {
        font-size: 0.6rem;

    }

}

@media (max-width: 425px) {

    .navbar-toggler-icon {
        font-size: 0.7rem;
    }

    .logo {
        width: 35%;
        position: relative;
        right: 0.5rem;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 10;
        height: 10vh;
    }

    .tituloH1 {
        font-size: 3rem;
    }

    span {
        font-size: 3rem;
    }

    .parrafo {
        font-size: 0.7rem;
    }

    .parrafo-b {
        font-size: 1rem;
    }

    .imagen-c {
        max-width: 100%;
        margin-left: 0;
    }

    .tituloH1-contacto {
        font-size: 3rem;
    }

    .parrafo-contacto {
        font-size: 1rem;
    }

    .container-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5rem;
    }

    footer {
        height: 60vh;
    }

    .listaIconos {
        margin-left: 20px;
    }
    
    .listaIconos a {
        font-size: 11px;
    }
    
    .contenedorCopyright {
        text-align: center;
    }

    .contenedorCopyright p {
        font-size: 0.5rem;

    }

}

@media (max-width: 375px) {

    .logo {
        width: 35%;
        position: relative;
        right: 0.5rem;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 10;
        height: 8vh;
    }

    .tituloH1 {
        font-size: 2.5rem;
    }

    span {
        font-size: 2.5rem;
    }

    .parrafo {
        font-size: 0.7rem;
    }

    .parrafo-b {
        font-size: 0.9rem;
    }

    .imagen-c {
        max-width: 100%;
        margin-left: 0;
    }

    .tituloH1-contacto {
        font-size: 2.5rem;
    }

    .parrafo-contacto {
        font-size: 0.8rem;
    }


    .container-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5rem;
    }

    footer {
        height: 60vh;
    }

    .listaIconos {
        margin-left: 20px;
    }
    
    .listaIconos a {
        font-size: 11px;
    }

    .contenedorCopyright {
        text-align: center;
    }

    .contenedorCopyright p {
        font-size: 0.5rem;

    }

}

@media (max-width: 365px) {

    .logo {
        display: none;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 10;
        height: 5vh;
    }

    .tituloH1 {
        font-size: 2rem;
    }

    span {
        font-size: 2rem;
    }

    .parrafo {
        font-size: 0.6rem;
    }

    .parrafo-b {
        font-size: 0.9rem;
    }

    .imagen-c {
        max-width: 100%;
        margin-left: 0;
    }

    .container-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 4rem;
    }

    footer {
        height: 60vh;
    }

    .listaIconos {
        margin-left: 20px;
    }
    
    .listaIconos a {
        font-size: 11px;
    }

    .contenedorCopyright {
        text-align: center;
    }

    .contenedorCopyright p {
        font-size: 0.5rem;

    }
}

@media (max-width: 320px) {

    .logo {
        display: none;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 10;
        height: 5vh;
    }

    .tituloH1 {
        font-size: 2rem;
    }

    span {
        font-size: 2rem;
    }

    .parrafo {
        font-size: 0.6rem;
    }

    .parrafo-b {
        font-size: 0.8rem;
    }

    .imagen-c {
        max-width: 100%;
        margin-left: 0;
    }

    .tituloH1-contacto {
        font-size: 2rem;
    }

    .parrafo-contacto {
        font-size: 0.8rem;
    }


    .container-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 4rem;
    }

    footer {
        height: 60vh;
    }

    .listaIconos {
        margin-left: 20px;
    }
    
    .listaIconos a {
        font-size: 11px;
    }
    
    .contenedorCopyright {
        text-align: center;
    }

    .contenedorCopyright p {
        font-size: 0.5rem;

    }

}